[submodule "tis/check"]
	path = tis/check
	url = https://github.com/anne-pacalet/check.git
[submodule "tis/mbedtls"]
	path = tis/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "tis/libexpat"]
	path = tis/libexpat
	url = https://github.com/libexpat/libexpat.git
